@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html, body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    text-decoration-color: black;
}
.navbarmain{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff200;
    box-shadow: -8px -3px 8px 0px rgb(0 0 0 / 75%);
    position: fixed;
    width: 100vw;
}
.navbarmain h1{
    padding: 0 20px;
}
.navbarmenu{
    display: flex;
    justify-content: space-around;
}
.navbarmenu a{
    color: black;
}
.navbarmenu p{
    padding: 20px;
    margin-right: 20px;
}
.stratmaincontent{
    padding-top: 100px;
}
.mianimage{
    /* width: 20vw; */
	border-radius: 10px;
	height: 40vh;
	object-fit: cover;
	object-position: center;
	transition: 0.5s;
}
.herodiv{
    border-bottom: 1px solid black;
}
.herotext{
    font-size: 6rem;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    transition: 0.5s;
    width: 80vw;
    margin: auto;
}
.mainbody{
    border-bottom: 1px solid black;
}
.contentBlocks{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    width: 80vw;
    margin: auto;
}
.contactareamain{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 50px;
}
.contactareamain >img{
    width: 100%;
    margin: auto;
}
.contactareamain a{
    color: black;
}
.footer{
    text-align: center;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 768px){
    .herotext{
        font-size: 4rem;
        transition: 0.5s;
    }
    .contactareamain{
        display: grid;
        grid-template-columns: auto;
    }
}